<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  style="width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;"
>
  <head></head>
  <body>
    <div style="background-color:#F7F7F7;">
      <div style="text-align: center;">
        <img src="https://habilitacion.faceldi.net/fe/imgs/cabezote.png" />
      </div>
      <div>
        <h2 style="text-align: center;">
          RESPUESTA DEL CARGUE DE ARCHIVO
        </h2>
        Estimado $nombreEmisor:
        <br />
        <br />
        Se ha procesado el archivo $nombreArchivo, cargado en el servidor FTP.
        <br />
        <br />

        #macro(tablerows $list) #foreach($documento in $list)
        <tr>
          <td>$documento.numeroDocumento</td>
          <td>$documento.descripcionEstado</td>
          <td>$documento.estadoDian</td>
          <td>$documento.descripcionEstadoDian</td>
        </tr>
        #end #end

        <table border="1">
          <caption>
            REGISTRO DE DOCUMENTOS PROCESADOS
          </caption>
          <thead>
            <tr>
              <th scope="col">NÚMERO DE DOCUMENTO</th>
              <th scope="col">ESTADO FACELDI</th>
              <th scope="col">ESTADO DIAN</th>
              <th scope="col">DESCRIPCIÓN ESTADO DIAN</th>
            </tr>
          </thead>
          #tablerows( $documentos )
        </table>
      </div>
    </div>
  </body>
</html>
