<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  	layout:decorate="~{email-layout}">
	<meta charset="UTF-8">  	
  	
  	<section layout:fragment="content" >
  			<font face="'Source Sans Pro', sans-serif" color="#1a1a1a" style="font-size: 22px; font-weight: 300">                           
				<div>Ha sido registrado como emisor de factura electrónica, se ha creado un usuario para usted en 
				nuestro sistema lo cuál le permitirá consultar, cargar, generar, aceptar ó rechazar documentos</div>
				<br/>
				<div>Por favor haga clic en el siguiente enlace para finalizar el proceso del registro</div>
				<br/>
				<a th:href="${'https://www.faceldi.net/confirmation-token/' + token}" href="#">https://www.faceldi.net/confirmation-token</a>
				<br/>
				<br/>				
			</font>
  	</section>  	
</html>